/* Mobile View */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

header {
    background: #8c0d1e;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

main {
    padding: 1rem;
}

.data, .weather {
    text-align: center;
}

.data ul, .weather ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.info-box {
    background: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

.info-box h2 {
    background-color: #165016;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    margin-top: 0;
}

.weather-icon {
    width: 100px;
    display: block;
    margin: 0.5rem auto;
}

.data ul, .weather ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer {
    background: #8c0d1e;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

li label {
    font-weight: bold;
    display: inline-block;
    width: 130px;
}

li span {
    color: #333;
}